@import url("https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Twinkle+Star&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.navbar .logo {
  font-family: "Twinkle Star";
  font-size: 25px;
  font-weight: 500;
  color: #990033;
}

.navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 35px;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline-block;
  padding: 10px 20px;
}

.navbar li a {
  font-family: "Poppins";
  font-size: 20px;
  text-decoration: none;
  color: #990033;
}

.navbar li:hover :not(.logo) {
  color: #f26871;
  transition: color 0.3s;
}

.color-change {
  background-color: white;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.sticky { /*Makes NavBar Sticky using CSS*/
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar .home {
  border-bottom: 3px solid #990033;
}

.navbar li:hover :not(.logo) {
  color: bisque;
}


/*---Video-----*/

body {
  color: #000;
  background-color: #9e6e06;
  transition: background-color 1s ease;
}


.panel {

  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  
}


@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One);
body{
  background:#2c3e50;
  margin:0 auto;
  padding:0;
  text-align:center;
}
h1{
  text-align:center;
  color:#ecf0f1;
  font-family:'Racing Sans One', cursive;
  text-shadow:0 2px 2px #0c0e50;
}
.youtube_videos{
  list-style:none;
  margin:0 auto;
  display:block;
  padding:0;
}
.youtube_videos .youtube{
  display:inline-block;
  margin-bottom:1em;
  margin-right:0.5em;
  margin-left:0.5em;
  margin-top:0;
  
}
.youtube,.thumb{
  width:380px;
  height:250px;
  cursor:pointer;
  position:relative;
  -webkit-box-shadow:0 0.5px 2px #1D242B;
  -moz-box-shadow:0 0.5px 2px #1D242B;
  box-shadow:0 0.5px 2px #1D242B;
}
.youtube_video{
  width:385px;
  height:250px;
}
.thumb,.youtube_video{
  padding:5px;
  background:#34495e;
  border:0;
  outline:0;
}
.youtube:after{
  content:"PLAY THIS VIDEO";
  position:absolute;
  top:5px;
  left:5px;
  width:370px;
  height:240px;
  padding:0;
  margin:0;
  padding:5px;
  background:rgba(38, 180, 174, 0.66);
  text-align:center;
  line-height:250px;
  font-family:'Racing Sans One', cursive;
  color:transparent;
  -webkit-transition:all 0.8s ease;
  -moz-transition:all 0.8s ease;
  -o-transition:all 0.8s ease;
  transition:all 0.8s ease;
}
.youtube:hover:after{
  top:110px;
  left:110px;
  width:165px;
  height:40px;
  line-height:40px;
  background:#34495e;
  -webkit-transition:all 0.8s ease;
  -moz-transition:all 0.8s ease;
  -o-transition:all 0.8s ease;
  transition:all 0.8s ease;
  color:#ecf0f1;
}


